.jumbotron {
  margin-top: 50px;
  background-color: rgb(180, 91, 210);
  border-radius: 0.9rem;
  min-width: 350px;
  color: white;
}

.mb_0 {
  margin-bottom: 0px;
}

.btn_invalid {
  margin: 5px;
  color: white;
  background-color: rgb(247, 154, 13);
}

.btn_invalid:hover {
  margin: 5px;
  color: white;
  background-color: rgb(223, 135, 0);
}

.btn_valid {
  margin: 5px;
  color: #4f4f4f;
  background-color: rgb(239, 242, 20);
}

.btn_valid {
  margin: 5px;
  color: #4f4f4f;
  background-color: rgb(216, 219, 9);
}
