.list {
  padding-top: 2rem;
  max-width: 20em;
  margin: 0 1rem;
}

.list-item {
  background-color: white;
  text-align: left;
  width: 100%;
  padding: 1rem;
  padding-top: 0.5rem;
  border: none;
  border-bottom: 0.1rem solid #ddd;
}

.list-item.selected {
  background-color: #b35fd0;
  border-radius: 0.3rem;
}

.list-item:hover {
  background-color: #f5f5f5;
  transition: background-color 0.2s;
}

.list-item.selected:hover {
  background-color: #c98adf;
}

.list-item p {
  margin: 0 0 1rem 0;
  color: #777;
}

.list-item.selected p {
  color: white;
}

.list-item p.header {
  margin-bottom: 0.3rem;
  font-size: 1.2em;
  font-weight: 700;
  color: #333;
}

.list-item.selected p.header {
  color: white;
}
