.form {
  display: flex;
  flex-direction: column;
}

.button {
  flex: 1;
  margin: 10px;
}

.flex_field {
  display: flex;
  margin: 5px;
  flex-direction: column;
}

/* .section_header {
  text-align: center;
} */

.subtitle {
  margin-left: 5px;
  margin-bottom: 0px;
}

.label {
  margin: 0;
}

.error {
  color: red;
}
