.title {
  background-color: yellow;
  color: #747575;
  min-height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: 40px !important; */
  /* background-color: yellow;
  color: #747575;
  min-height: 10em;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* font-size: 40px !important; */
}

.title h1 {
  font-size: 5em;
  font-weight: bold;
}

.description {
  background-color: rgb(169, 95, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin-bottom: -2px;
}
.descriptionInner {
  line-height: 2em;
  margin: 1em;
  width: 60%;
  font-size: 1.1em;
}
.descriptionInner h1 {
  margin: 1em;
  font-style: italic;
}

.descriptionInnerInner {
  width: 75%;
}
.descriptionInnerInner {
  display: inline-block;
}
.gallery {
  min-height: 1px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: auto;
  /* min-height: 1px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-content: center; */
  /* width: 60%; */
  /* overflow: auto; */
}
.footerBackground {
  background-color: orange;
  color: white;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding-top: 2em;
  margin-top: -2px;
  padding-bottom: 1em;
}

.footer {
  width: 50%;
  margin: auto;
  /* display: inline-block;
    width: 60%; */
  /* width: 50%; */
  /* margin: auto; */
}

.googleButton {
  display: inline-block !important;
}
.donate {
  background-color: rgb(169, 95, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin-bottom: -2px;
  flex-direction: column;
  padding: 2em;
}

.donate p {
  font-size: 34px;
}

.donateButtonWrapper a {
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1s;
}

.donateButton {
  background-color: rgba(32, 206, 136, 1);
  color: white;
  padding: 0.6em 3.7em;
  vertical-align: middle;
}
.donateButton:hover {
  background-color: rgb(78, 165, 116);
}

.donateInner {
  padding: 1em;
}
