.gallery {
  min-height: 1px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: auto;
}

.title {
  background-color: yellow;
  color: #747575;
  min-height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: 40px !important; */
}

.title h1 {
  font-size: 5em;
  font-weight: bold;
}

.description {
  background-color: rgb(169, 95, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin-bottom: -2px;
}
.descriptionInner {
  line-height: 2em;
  margin: 1em;
  width: 60%;
  font-size: 1.1em;
}
.descriptionInner h1 {
  margin: 1em;
  font-style: italic;
}

.descriptionInnerInner {
  width: 75%;
}
.descriptionInnerInner {
  display: inline-block;
}
.gallery {
  min-height: 1px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: auto;
}
.footerBackground {
  background-color: orange;
  color: white;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding-top: 1.5em;
  margin-top: -2px;
  padding-bottom: 1em;
}

.footer {
  width: 58%;
  margin: auto;
}

.informationWrapper {
  /* background-color: #68CAFA; */
  background-color: #33caff;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  font-size: 1.15em;
  padding-bottom: 1em;
}

.informationWrapper a {
  color: white;
  text-decoration: underline;
}
.informationWrapper h5 {
  font-size: 1.8em;
  color: #f5f685;
}

.information {
  width: 58%;
}

.informationCloser {
  font-size: 1.3em;
  text-align: center;
  padding: 0.5em;
}

.policyWrapper {
  display: flex;
  background-color: orange;
  justify-content: center;
}
.policyWrapper a {
  color: black;
  text-decoration: underline;
}

.policy {
  text-align: center;
}

.donate {
  background-color: rgb(169, 95, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin-bottom: -2px;
  flex-direction: column;
  padding: 2em;
}

.donate p {
  font-size: 34px;
}

.donateButtonWrapper a {
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1s;
}

.donateButton {
  background-color: rgba(32, 206, 136, 1);
  color: white;
  padding: 0.6em 3.7em;
  vertical-align: middle;
}
.donateButton:hover {
  background-color: rgb(78, 165, 116);
}

.donateInner {
  padding: 1em;
}
