// Your variable overrides
// $body-bg: #000;
$body-bg: rgb(194, 239, 255);
$navbar-dark-color: #c2efff;
$navbar-dark-hover-color: #f79a0e;
$dark: rgba(35, 35, 35, 0.62);
$primary: #f79a0d;
$secondary: #efefef;
$success: #b35fd0;
$info: #626262;
$warning: #eff214;
$danger: #ff6261;
// $body-color: #dc3545;
// Bootstrap and its default variables
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import url('https://use.typekit.net/bgw3nnz.css');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins';
}
