/* .title {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
line-height: 24px;
color: #637381;
}

.date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #637381;
}

.content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #637381;
} */
